<head>
<link rel="stylesheet" href="static/styles.css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1><strong>Welcome</strong></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="tile red">
        <h3 class="title">Send</h3>
        <li><a href="/upload" style="color:white">Upload</a></li>
      </div>
    </div>
	<div class="col-sm-4">
      <div class="tile green">
        <h3 class="title">Share</h3>
        <li><a href="/download" style="color:white">Download</a></li>
      </div>
    </div>  
  </div>
</div>
