<html>
<head>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"><strong>Upload Files</strong></div>
    <div class="panel-body">
      <h4>Select files from your computer</h4>
      <form action="/success" method="post" enctype="multipart/form-data">
          <input type="file" name="file">
          <button type="submit" class="btn btn-sm btn-primary">Submit</button>
      </form>
      <h4>List of accepted files :</h4>
      <p>'pdf', 'zip', '7z', 'tar', 'tar.gz', 'rar', 'py'</p>
    </div>
  </div>
</div>
</body>
</html>
